# Build
/build/
/cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile
install_manifest.txt
compile_commands.json

# Binarios
*.o
*.a
*.so
*.exe
*.out

# IDE / SO
.vscode/
.idea/
.DS_Store

# Vendor
vendor/lib/*
!vendor/lib/.keep
