Package: roguebot-dbgsym
Package-Type: ddeb
Source: roguebot
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Roguebot
Installed-Size: 174
Depends: roguebot (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for roguebot
Build-Ids: a20dcce509f6894b925f1def50e225eefbd61466
