Package: roguebot-dbgsym
Package-Type: ddeb
Source: roguebot
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Roguebot
Installed-Size: 171
Depends: roguebot (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for roguebot
Build-Ids: 08bf901c99a50a98bffadce90a2ce139251ed88a
