name: CI

on:
  workflow_dispatch:          # permitir lanzarlo manualmente desde Actions
  pull_request:
    branches: [ develop, main ]
  push:
    branches: [ develop, main, 'feature/**' ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            pkg-config \
            libraylib-dev

      - name: Build RogueBot (Makefile, build_gnu)
        run: |
          # Usamos raylib del sistema
          PREFER_RAYLIB_STATIC=0 make -j2

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: roguebot-linux
          path: build_gnu/bin/roguebot
