name: CI

on:
  pull_request:
  push:
    branches: [ develop, main, 'feature/**' ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # 1) Instalar raylib y toolchain
      - name: Install raylib
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake pkg-config libraylib-dev

      # 2) Configurar
      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      # 3) Compilar
      - name: Build
        run: cmake --build build --config Release -- -j 2

      # 4) Subir binario
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: roguebot-linux
          path: build/roguebot
